<ng-container *transloco="let t">
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-divider></mat-divider>

  <mat-dialog-content [formGroup]="form">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div>
          <!-- Name field -->
          <mat-form-field>
            <mat-label>{{ t("doctors.addDoctor.matDialog-field-name") }}</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="name" required />
            <mat-error *ngIf="form.get('name')?.invalid || form.get('name')?.dirty || form.get('name')?.touched">
              {{ t("doctors.addDoctor.matDialog-field-name-error") }}
            </mat-error>
          </mat-form-field>

          <!-- Mobile field -->
          <mat-form-field>
            <mat-label>{{ t("doctors.addDoctor.matDialog-field-mobile") }}</mat-label>
            <input matInput placeholder="0475947654" formControlName="mobile" required />
            <mat-error *ngIf="form.get('mobile')?.invalid || form.get('mobile')?.dirty || form.get('mobile')?.touched">
              {{ t("doctors.addDoctor.matDialog-field-mobile-error") }}
            </mat-error>
          </mat-form-field>

          <!-- Email field -->
          <mat-form-field>
            <mat-label>{{ t("doctors.addDoctor.matDialog-field-email") }}</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required />
            <mat-error *ngIf="form.get('email')?.invalid || form.get('email')?.dirty || form.get('email')?.touched">
              {{ t("doctors.addDoctor.matDialog-field-email-error") }}
            </mat-error>
          </mat-form-field>

          <!-- Qualification field -->
          <mat-form-field>
            <mat-label>{{ t("doctors.addDoctor.matDialog-field-qualification") }}</mat-label>
            <input matInput placeholder="ex: MBBS" formControlName="qualification" required />
            <mat-error *ngIf="form.get('qualification')?.invalid || form.get('qualification')?.dirty || form.get('qualification')?.touched">
              {{ t("doctors.addDoctor.matDialog-field-qualification-error") }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <!-- Gender field -->
          <mat-label class="me-3">{{ t("doctors.addDoctor.matDialog-field-gender") }}</mat-label>
          <br />
          <mat-radio-group aria-label="Select a gender" color="primary" formControlName="gender">
            <mat-radio-button value="Male">{{ t("doctors.addDoctor.matDialog-field-gender-male") }}</mat-radio-button>
            <mat-radio-button value="Female">{{ t("doctors.addDoctor.matDialog-field-gender-female") }}</mat-radio-button>
            <mat-radio-button value="Other">{{ t("doctors.addDoctor.matDialog-field-gender-other") }}</mat-radio-button>
          </mat-radio-group>

          <!-- Department field -->
          <mat-form-field>
            <mat-label>{{ t("doctors.addDoctor.matDialog-field-department") }}</mat-label>
            <mat-select formControlName="department" name="department">
              <mat-option *ngFor="let department of departments" [value]="department"> {{ department }} </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('department')?.invalid || form.get('department')?.dirty || form.get('department')?.touched">
              {{ t("doctors.addDoctor.matDialog-field-department-error") }}
            </mat-error>
          </mat-form-field>

          <!-- Birthdate field -->
          <mat-form-field>
            <mat-label>{{ t("doctors.addDoctor.matDialog-field-birthdate") }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('birthdate')?.invalid || form.get('birthdate')?.dirty || form.get('birthdate')?.touched">
              {{ t("doctors.addDoctor.matDialog-field-birthdate-error") }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>

  <!-- Buttons -->
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="cancelRegistration()">{{ t("matDialog.cancelButton") }}</button>
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial (click)="registerDoctor()" [disabled]="form.invalid">{{ buttonName }}</button>
  </div>
</ng-container>
